body, html
{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family:'Karla', sans-serif;
    line-height: 1.8em;
    font-weight: 400;
    color: #424242;
}

/* Navbar */
.navbar {
    font-family: "Roboto","Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #b9b9b9;
    background-color: #333333;
    border-radius: 0 !important;
    margin-bottom: 0px !important;
}
.navbar-brand {
    margin: 10px 0px;
    padding: 15px 15px;
    font-size: 12px;
    line-height: 22px;
    color: #e7e7e7;
    
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 15px !important;
    line-height: inherit;
    white-space: nowrap;
    color: #cccbcb !important;
    font-family: "Poppins", sans-serif;
}
.nav-link {
    font-size: 13px;
    font-weight: 500;
    color: #999999 !important;
}
.btn-danger.btn-fill, .navbar .navbar-nav > li > a.btn-danger.btn-fill {
    color: #FFFFFF;
    background-color: #f39d35;
    font-size: 13px;
    font-weight: 500;
    opacity: 1;
    border-color: #f39d35;
    border-left: 80px;
}

/* Parallax sections */
.title-modern {
    font-weight: 300;
    font-size: 1em !important;
    letter-spacing: 6px !important;
    color: #ffffff !important;
    font-family: "Poppins", sans-serif;
    margin-top: -3em;
}
.title2{
    font-weight: 200;
    font-size: .6em !important;
    letter-spacing: 3px;
    color: #ffffff !important;
    font-family: "Poppins", sans-serif;
    margin-top: .6em;
}
.title3 {
    font-weight: 100;
    font-size: .6em !important;
    letter-spacing: 5px !important;
    color: #ffffff !important;
    font-family: "Poppins", sans-serif;
    margin-top: .8em;
}
#h3dk {
    color: #3d3d3d !important;
    font-weight: 500;
}
h1, .h1 {
    font-size: 1.7em !important;
    line-height: 1.25;
    margin: 0.4em 0;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 2em;
    font-family: "Poppins", sans-serif;
    color: #2e2d2d !important;
    text-align: center !important;
}
h2, .h2 {
    font-size: 1.2em !important;
    line-height: 1.25;
    margin: 0.4em 0;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 2em;
    font-family: "Poppins", sans-serif;
    color: #c2c2c2 !important;
    text-align: center !important;
}
#h2dk {
    color: #3d3d3d  !important;
}
)
.h2light {
    color: #c5c4c4 !important;
}
h3, .h3 {
    font-size: .9em !important;
    line-height: 1.25;
    margin: 0.4em 0;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: .7em !important;
    font-family: "Poppins", sans-serif;
    color: #666666 !important;
    text-align: center !important;
}
#h3dk {
    color: #1b1b1b  !important;
    font-weight: 700 !important;
    text-align: center !important;
    margin-left: 5%;
    padding-top: 40px;
}
hr {
    border-color: #ecb877 !important;
    color: #ecb877  !important;
    width: 200px;
}
.info-icon .icon {
    font-size: 62px;
}
*::selection {
    background: #de7d0a;
    color: #FFFFFF;
}
.text-danger {
    color: #f39d35 !important;
}
.pe-7s-way {
    color: #f39d35 !important;
    size: 3em !important;
}
.pe-7s-add-user {
    color: #f39d35 !important;
    size: 167pt !important;
}
.pe-7s-comment {
    color: #f39d35 ;
    size: 167pt !important;
}
.pe-7s {
    display: inline-block;
    font-size: 100pt;
    font-family: 'Pe-icon-7-stroke';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.separator {
    width: 35% !important;
    margin-left: 30%;
}
.img1,.img2,.img3,.img4
{
    position: relative;
    opacity:0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1
{
    background-image: url('../img/header-1.png');
    min-height:100%;
}
.img2
{
    background-image: url('../img/library.jpg');
    min-height:400px;
}
.img3
{
    background-image: url('../img/hongkong.jpg');
    min-height:300px;
}
.img4
{
    background-image: url('../img/header-1.png');
    min-height:100px;
}
.section
{
    text-align: center;
    padding: 50px 80px;
}
#sectionhd {
    color: rgb(61, 61, 61) !important;
}
.text-section1
{
    background-color: #e1e1e1;
    color: #666;
    text-align: center;
}
.text-section2
{
    background-color: #525357;
    color: #ddd;
}
.txt
{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform:uppercase;
}
.txt .border
{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.txt .border2
{
    background-color: transparent;
    color: rgb(63, 62, 62);;
    padding: 20px;
}
.txt .border.trans{
    background-color: transparent;
}
.border.trans2 {
    background-color: transparent;
    color: rgb(63, 62, 62); 
}
iframe {
    margin: 0;
    padding: 0;
    margin-left: 0%;
    border: none;
    width: 800px;
    height: 750px;
    overflow-y: hidden;
    justify-content: center;
  }

/* Card styles*/
.card {
    display: inline-block;
    background: #fff;
    box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-bottom: 30px;
    -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card .subtitle-black {
    color: #141414;
  }
  .card a {
    opacity: .85;
  }
  .card:hover .header {
    opacity: 1;
  }
  .card h2 {
    margin-top: 0;
  }
  .card img {
    max-width: 100%;
  }
  .card .header img {
    border-radius: 4px;
  }
  .card .image-header,
  .card .header img {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }
  .card .image-header.image-full,
  .card .header img.image-full {
    border-radius: 4px;
  }
  .card .row .image-header,
  .card .row .header img {
    width: 100%;
    border-radius: 4px;
  }
  .card .btn {
    margin-top: 15px;
  }
  .card > img {
    border-radius: 4px;
  }
  .card .title {
    margin-bottom: 5px;
    color: #333333;
  }
  .card .description {
    font-size: 13px;
  }
  .card-member {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .card-member .content {
    padding: 25px;
  }
  .card-member > img {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    width: 120px;
    margin: 0 auto;
  }
  .card-white {
    background: #FFFFFF;
  }
  .card-plain {
    border-radius: 0;
    box-shadow: none;
    background: none;
  }
  .card-plain .image-header {
    border-radius: 4px;
  }
  .card p {
    min-height: 0;
  }

.description2 {
      color: #575757 !important;
      font-size: 9pt;
      margin-left: 15%;
      margin-right: 15%;
}
.description3 {
    margin-bottom: 40px;
}
.section-objectives .text-area {
    padding-bottom: 0;
  }

/* Footer */
}
.footer {
  background-color: #FFFFFF;
  line-height: 20px;
  /*border-top: 1px solid #DDDDDD;*/
  overflow: hidden;
}
.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: left;
}
.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
}
.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
  color: #777777;
}
.footer .social-area {
  padding: 15px 0;
}
.footer .social-area h5 {
  padding-bottom: 15px;
}
.footer .social-area > a:not(.btn) {
  color: #777777;
  display: inline-block;
  vertical-align: top;
  padding: 10px 5px;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.footer .social-area > a:not(.btn):hover, .footer .social-area > a:not(.btn):focus {
  color: #777777;
}
.footer .copyright {
  color: #777777;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}
.footer hr {
  border-color: #DDDDDD;
}
.hr-small {
    border-color: #DDDDDD !important;
    margin-left: 0px;
    margin-top: 20% !important;
    padding-top: 10px !important;
    width: 90%;
}
.footer .title {
  color: #777777;
}
.footer .title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.footer .btn-social {
  color: #9A9A9A;
  font-size: 9pt;
  text-align: left;
}
.footer:not(.footer-big) nav > ul {
  font-size: 16px;
}
.footer:not(.footer-big) nav > ul li {
  margin-left: 20px;
  float: left;
}
.footer:not(.footer-big) nav > ul a {
  padding: 10px 0px;
  margin: 15px 10px 15px 0px;
}
.footer-color-gray {
  background-color: #F5F5F5;
}
.footer-color-black,
.footer-transparent {
  background-color: rgba(30, 30, 30, 0.97);
  color: #DDDDDD;
}
.footer-color-black nav > ul a,
.footer-transparent nav > ul a {
  color: #FFFFFF;
}
.footer-color-black nav > ul a:hover, .footer-color-black nav > ul a:focus,
.footer-transparent nav > ul a:hover,
.footer-transparent nav > ul a:focus {
  color: #777777;
}
.footer-color-black .social-area > a:not(.btn),
.footer-transparent .social-area > a:not(.btn) {
  color: #FFFFFF;
}
.footer-color-black .social-area > a:not(.btn):hover, .footer-color-black .social-area > a:not(.btn):focus,
.footer-transparent .social-area > a:not(.btn):hover,
.footer-transparent .social-area > a:not(.btn):focus {
  color: #777777;
}
.footer-color-black .btn-social,
.footer-transparent .btn-social {
  color: #FFFFFF;
}
.footer-color-black hr,
.footer-transparent hr {
  border-color: #444444;
}
.footer-color-black .title,
.footer-transparent .title {
  color: #DDDDDD;
}
.footer-transparent {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.footer-transparent .container {
  z-index: 2;
  position: relative;
}
.footer-transparent::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.8);
  display: block;
  content: "";
  z-index: 1;
}
.footer-big {
  padding-top: 30px;
  margin-top: 0px !important;
}
.footer-big hr {
  margin-bottom: 10px;
  margin-top: 20px !important;
}
.footer-big .container > hr {
  margin-top: 0px !important;
}
.footer-big .copyright {
  margin: 10px 0px 20px;
}
.footer-big .social-area > * {
  margin: 0 15px;
}
.footer-big nav > ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer-big nav > ul li {
  float: none;
}
.footer-big nav > ul .btn {
  margin-bottom: 5px;
}
.footer-big nav > ul .btn-social.btn-simple {
  padding: 0 0 4px 0;
}
.footer-big {
  margin-top: 15px;
}
.footer-big .numbers h4 {
  margin: 0 0 10px 0;
}
footer {
    padding-top: 15px;
  }
  footer .row .info {
    margin-top: 15px;
  }
  footer .row .info .title {
    text-align: center !important;
    margin-top: 5px;
  }
  footer .row .info ul {
    text-align: left;
    font-size: 9pt;
  }
  footer .row div:first-child .title {
    margin-top: 0;
  }
.left-alignwt {
    text-align: left !important;
    font-size: 9pt;
  }
.titleh5 {
    text-align: left;
    font-size: 10pt;
}
.fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    font-size: 9pt !important;
    padding-bottom: 2px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
.copyright {
    font-size: 9pt;
}

/* Media Queries */

@media (min-width: 768px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}
@media (min-width: 768px) {
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    }
}
@media (min-width: 768px) {
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
    }
}
@media (min-width: 768px) {
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    }
}